.container-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.horizontal-collapsed-menu {
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ccc;
}

.section {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
}

.header {
  flex: 0 1 100px;
  background-color: #f1f1f1;
}

.content {
  flex: 1 1 auto;
  background-color: #fff;
}

.footer {
  flex: 0 1 50px;
  background-color: #f1f1f1;
}

.download-btn {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
