.header {
  position: fixed;
  top: 0;
  left: 200px; /* Default sidebar width */
  width: calc(100% - 200px); /* Default sidebar width */
  z-index: 10;
  background-color: transparent;
  padding: 10px 0;
  transition: left 0.3s ease, width 0.3s ease;
  padding: 2rem 0;
}

.header.compact-sidebar {
  left: 50px; /* Adjust according to the compact sidebar width */
  width: calc(100% - 50px); /* Adjust according to the compact sidebar width */
}

.logo {
  font-weight: bold;
}

.nav-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-icon {
  color: black;
  font-size: large;
}

.search-box {
  display: none;
  transition: width 0.3s ease;
}

.search-box.open {
  display: block;
  width: 200px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
}
