.founder-details {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in;
}

.details-container {
  margin-bottom: 20px;
}

.details-container p {
  font-size: 16px;
  margin: 8px 0;
}

strong {
  color: #333;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn-update,
.btn-delete {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-update {
  background-color: #4caf50; /* Green */
}

.btn-update:hover {
  background-color: #45a049;
}

.btn-delete {
  background-color: #f44336; /* Red */
}

.btn-delete:hover {
  background-color: #e53935;
}

/* Add this to your show.css */
.btn-home {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem; /* Space between the Home button and other content */
}

.btn-home:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
